<!-- ========== Left Sidebar Start ========== -->
<div
	class="leftside-menu">

	<!-- Brand Logo Light -->
	<a href="/" class="logo logo-light">
		<span class="logo-lg">
			<img src="/images/logo.png" alt="logo">
		</span>
		<span class="logo-sm">
			<img src="/images/logo-sm.png" alt="small logo">
		</span>
	</a>

	<!-- Brand Logo Dark -->
	<a href="/" class="logo logo-dark">
		<span class="logo-lg">
			<img src="/images/logo-dark.png" alt="dark logo">
		</span>
		<span class="logo-sm">
			<img src="/images/logo-sm.png" alt="small logo">
		</span>
	</a>

	<!-- Sidebar Hover Menu Toggle Button -->
	<div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
		<i class="ri-checkbox-blank-circle-line align-middle"></i>
	</div>

	<!-- Full Sidebar Menu Close Button -->
	<div class="button-close-fullsidebar">
		<i class="ri-close-fill align-middle"></i>
	</div>

	<!-- Sidebar -left -->
	<div
		class="h-100" id="leftside-menu-container" data-simplebar>
		<!-- Leftbar User -->
		<div class="leftbar-user p-3 text-white">
			<a href="{{ path('my_account', {'user_id': app.user.id}) }}" class="d-flex align-items-center text-reset">
				<div class="flex-shrink-0">
					<img src="/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow">
				</div>
				<div class="flex-grow-1 ms-2">
					<span class="fw-semibold fs-15 d-block">{{app.user.fullName}}</span>
					<span class="fs-13">Founder</span>
				</div>
				<div class="ms-auto">
					<i class="ri-arrow-right-s-fill fs-20"></i>
				</div>
			</a>
		</div>

		<!--- Sidemenu -->
		<ul class="side-nav">
			<br>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebardashboard" aria-expanded="false" aria-controls="sidebardashboard" class="side-nav-link">
					<i class="ri-dashboard-2-fill"></i>
					<span>
						Dashboard
					</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebardashboard">
					<ul class="side-nav-second-level">
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebardashboardaccounting" aria-expanded="false" aria-controls="sidebardashboardaccounting">
								<span>
									Accounting
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebardashboardaccounting">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("account-dashboard")}}">Overview</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebardashboardaccountingreport" aria-expanded="false" aria-controls="sidebardashboardaccountingreport">
											<span>
												Reports
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebardashboardaccountingreport">
											<ul class="side-nav-third-level">
												<li>
													<a href="{{path("report/account_statement")}}">Account Statment</a>
												</li>
												<li>
													<a href="{{path("report/invoice_summary")}}">Invoice Summary</a>
												</li>
												<li>
													<a href="{{path("report/bill_summary")}}">Bill Summary</a>
												</li>
												<li>
													<a href="{{path("report/product_stock")}}">Product Stock</a>
												</li>
												<li>
													<a href="{{path("report/profit_&_loss")}}">Profit & Loss</a>
												</li>
												<li>
													<a href="{{path("report/transaction")}}">Transaction</a>
												</li>
												<li>
													<a href="{{path("report/income_summary")}}">Income Summary</a>
												</li>
												<li>
													<a href="{{path("report/expense_summary")}}">Expense Summary</a>
												</li>
												<li>
													<a href="{{path("report/income_vs_expense")}}">Income vs Expense</a>
												</li>
												<li>
													<a href="{{path("report/tax_summary")}}">Tax Summary</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebardashboardHRM" aria-expanded="false" aria-controls="sidebardashboardHRM">
								<span>
									HRM
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebardashboardHRM">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrm-dashboard")}}">Overview</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebardashboardhrmreport" aria-expanded="false" aria-controls="sidebardashboardhrmreport">
											<span>
												Reports
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebardashboardhrmreport">
											<ul class="side-nav-third-level">
												<li>
													<a href="{{path("report/payroll")}}">Payroll</a>
												</li>
												<li>
													<a href="{{path("report/leave")}}">Leave</a>
												</li>
												<li>
													<a href="{{path("report/monthly_attendance")}}">Monthly Attendace</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebardashboardcrm" aria-expanded="false" aria-controls="sidebardashboardcrm">
								<span>
									CRM
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebardashboardcrm">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("crm-dashboard")}}">Overview</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebardashboardcrmreport" aria-expanded="false" aria-controls="sidebardashboardcrmreport">
											<span>
												Reports
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebardashboardcrmreport">
											<ul class="side-nav-third-level">
												<li>
													<a href="{{path("report/lead")}}">Lead</a>
												</li>
												<li>
													<a href="{{path("report/deal")}}">Deal</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="{{path("project-dashboard")}}">Project</a>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebardashboardpos" aria-expanded="false" aria-controls="sidebardashboardpos">
								<span>
									POS
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebardashboardpos">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("pos-dashboard")}}">Overview</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebardashboardposreport" aria-expanded="false" aria-controls="sidebardashboardposreport">
											<span>
												Reports
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebardashboardposreport">
											<ul class="side-nav-third-level">
												<li>
													<a href="{{path("report/warehouse_report")}}">Warehouse Report</a>
												</li>
												<li>
													<a href="{{path("report/purchase_daily/monthly_report")}}">Purchase Daily/Monthly Report</a>
												</li>
												<li>
													<a href="{{path("report/pos_daily/monthly_report")}}">POS Daily/Monthly Report</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarworkflowsystem" aria-expanded="false" aria-controls="sidebarworkflowsystem">
								<span>
									Workflow System
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarworkflowsystem">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("workflowSystem-dashboard")}}">Overview</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebardashboardworkflowsystem" aria-expanded="false" aria-controls="sidebardashboardworkflowsystem">
											<span>
												Reports
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebardashboardworkflowsystem">
											<ul class="side-nav-third-level">
												<li>
													<a href="charts-apex-area">Warehouse Report</a>
												</li>
												<li>
													<a href="charts-apex-treemap">Purchase Daily/Monthly Report</a>
												</li>
												<li>
													<a href="charts-apex-treemap">POS Daily/Monthly Report</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>

			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarhrm" aria-expanded="false" aria-controls="sidebarhrm" class="side-nav-link">
					<i class="ri-pages-fill"></i>
					<span class="menu-arrow"></span>
					<span>
						HRM System</span>
				</a>
				<div class="collapse" id="sidebarhrm">
					<ul class="side-nav-second-level">
						<li class="side-nav-item">
							<a href="{{path("hrmsystem/employee_setup")}}" class="side-nav-link">
								<span>
									Employee Setup
								</span>
							</a>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmpayrollsetup" aria-expanded="false" aria-controls="sidebarhrmpayrollsetup">
								<span>
									Payroll Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmpayrollsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/set_salary")}}">Set Salary</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/payslip")}}">Pay Slip</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmleavemanagementsetup" aria-expanded="false" aria-controls="sidebarhrmleavemanagementsetup">
								<span>
									Leave Management Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmleavemanagementsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/manage_leave", {id: app.user.id})}}">Manage Leave</a>
									</li>
									<li class="side-nav-item">
										<a data-bs-toggle="collapse" href="#sidebarhrmattendance" aria-expanded="false" aria-controls="sidebarhrmattendance">
											<span>
												Attendance
											</span>
											<span class="menu-arrow"></span>
										</a>
										<div class="collapse" id="sidebarhrmattendance">
											<ul class="side-nav-third-level">
												<li>
													<a href="{{path("hrmsystem/mark_attendance")}}">Mark Attendance</a>
												</li>
												<li>
													<a href="{{path("hrmsystem/bulk_attendance")}}">Bulk Attendance</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmperformancesetup" aria-expanded="false" aria-controls="sidebarhrmperformancesetup">
								<span>
									Performance Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmperformancesetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/indicator")}}">Indicator</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/appraisal")}}">Appraisal</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/goal_tracking", {id:app.user.id})}}">Goal Tracking</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmtrainingsetup" aria-expanded="false" aria-controls="sidebarhrmtrainingsetup">
								<span>
									Training Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmtrainingsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/training_list", {id:app.user.id})}}">Training List</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/trainer", {id:app.user.id})}}">Trainer</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmrecruitmentsetup" aria-expanded="false" aria-controls="sidebarhrmrecruitmentsetup">
								<span>
									Recruitment Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmrecruitmentsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/jobs")}}">Jobs</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/job_create")}}">Job Create</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/job_application")}}">Job Application</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/job_candidate")}}">Job Candidate</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/job_on-boarding")}}">Job On-boarding</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/custom_question", {id: app.user.id})}}">Custom Question</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/interview_schedule")}}">Interview Schedule</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/career")}}">Career</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarhrmhradminsetup" aria-expanded="false" aria-controls="sidebarhrmhradminsetup">
								<span>
									HR Admin Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarhrmhradminsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("hrmsystem/award", {id:app.user.id})}}">Award</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/transfer", {id:app.user.id})}}">Transfer</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/resignation", {id: app.user.id})}}">Resignation</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/trip", {id: app.user.id})}}">Trip</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/promotion")}}">Promotion</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/complaints",  {id: app.user.id})}}">Complaints</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/warning", {id: app.user.id})}}">Warning</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/termination")}}">Termination</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/announcement")}}">Announcement</a>
									</li>
									<li>
										<a href="{{path("hrmsystem/holidays", {id: app.user.id})}}">Holidays</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="{{path("hrmsystem/event_setup")}}">Event Setup</a>
						</li>
						<li>
							<a href="{{path("hrmsystem/meeting")}}">Meeting</a>
						</li>
						<li>
							<a href="{{path("hrmsystem/employees_asset_setup", {id: app.user.id})}}">Employees Asset Setup</a>
						</li>
						<li>
							<a href="{{path("hrmsystem/document_setup")}}">Document Setup</a>
						</li>

						<li>
							<a href="{{path("hrmsystem/company_policy")}}">Company Policy</a>
						</li>
						<li>
							<a href="{{path("hrmsystem/hrm_system_setup")}}">HRM System Setup</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebaraccounting" aria-expanded="false" aria-controls="sidebaraccounting" class="side-nav-link">
					<i class="ri-suitcase-fill"></i>
					<span class="menu-arrow"></span>
					<span>
						Accounting System</span>
				</a>
				<div class="collapse" id="sidebaraccounting">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("accountingsystem/customer")}}">Customer</a>
						</li>
						<li>
							<a href="{{path("accountingsystem/vendor")}}">Vendor</a>
						</li>
						<li>
							<a href="{{path("accountingsystem/proposal")}}">Proposal</a>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebaraccountingbanking" aria-expanded="false" aria-controls="sidebaraccountingbanking">
								<span>
									Banking
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebaraccountingbanking">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("accountingsystem/account")}}">Account</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/transfer")}}">Transfer</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebaraccountingincome" aria-expanded="false" aria-controls="sidebaraccountingincome">
								<span>
									Income
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebaraccountingincome">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("accountingsystem/invoice")}}">Invoice</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/revenue")}}">Revenue</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/credit_note")}}">Credit Note</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebaraccountingexpense" aria-expanded="false" aria-controls="sidebaraccountingexpense">
								<span>
									Expense
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebaraccountingexpense">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("accountingsystem/bill")}}">Bill</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/payment")}}">Payment</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/debit_note")}}">Debit Note</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebaraccoungingdoubleentry" aria-expanded="false" aria-controls="sidebaraccoungingdoubleentry">
								<span>
									Double Entry
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebaraccoungingdoubleentry">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("accountingsystem/chart_of_accounts")}}">Chart Of Accounts</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/journal_account")}}">Journal Account</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/ledger_summary")}}">Ledger Summary</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/balance_sheet")}}">Balance Sheet</a>
									</li>
									<li>
										<a href="{{path("accountingsystem/trial_balance")}}">Trail Balance</a>
									</li>
								</ul>
							</div>
						</li>

						<li>
							<a href="{{path("accountingsystem/budget_planner")}}">Budget Planner</a>
						</li>
						<li>
							<a href="{{path("accountingsystem/financial_goal")}}">Financial Goal</a>
						</li>
						<li>
							<a href="{{path("accountingsystem/accounting_setup")}}">Accounting Setup</a>
						</li>
						<li>
							<a href="{{path("accountingsystem/print_settings")}}">Print Settings</a>
						</li>

					</ul>
				</div>
			</li>

			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarcrm" aria-expanded="false" aria-controls="sidebarcrm" class="side-nav-link">
					<i class="ri-survey-fill"></i>
					<span>
						CRM System</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebarcrm">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("crmsystem/leads")}}">Leads</a>
						</li>
						<li>
							<a href="{{path("crmsystem/deals")}}">Deal</a>
						</li>
						<li>
							<a href="{{path("crmsystem/form_builder")}}">Form Builder</a>
						</li>
						<li>
							<a href="{{path("crmsystem/contract")}}">Contract</a>
						</li>
						<li>
							<a href="{{path("crmsystem/crm_system_setup")}}">CRM System Setup</a>
						</li>
					</ul>
				</div>
			</li>

			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarproject" aria-expanded="false" aria-controls="sidebarproject" class="side-nav-link">
					<i class="ri-table-fill"></i>
					<span>
						Project System
					</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebarproject">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("projectsystem/project")}}">Project
							</a>
						</li>
						<li>
							<a href="{{path("projectsystem/task")}}">Task</a>
						</li>
						<li>
							<a href="{{path("projectsystem/timesheet")}}">Timesheet</a>
						</li>
						<li>
							<a href="{{path("projectsystem/bug")}}">Bug</a>
						</li>
						<li>
							<a href="{{path("projectsystem/task_calendar")}}">Task Calendar</a>
						</li>
						<li>
							<a href="{{path("projectsystem/tracker")}}">Tracker</a>
						</li>
						<li>
							<a href="{{path("projectsystem/project_report")}}">Project Report</a>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarprojectprojectsystemsetup" aria-expanded="false" aria-controls="sidebarprojectprojectsystemsetup">
								<span>
									Project System Setup
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarprojectprojectsystemsetup">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("projectsystem/project_task_stages")}}">Project Task Stages</a>
									</li>
									<li>
										<a href="{{path("projectsystem/bug_status")}}">Bug Status</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#usermanagement" aria-expanded="false" aria-controls="usermanagement" class="side-nav-link">
					<i class="ri-group-2-fill"></i>

					<span>
						User Management</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="usermanagement">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("user", {'id': app.user.id})}}">User</a>
						</li>
						<li>
							<a href="{{path("role")}}">Role</a>
						</li>
						<li>
							<a href="{{path("client")}}">Client</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#productsystem" aria-expanded="false" aria-controls="productsystem" class="side-nav-link">
					<i class="ri-layout-3-fill"></i>
					<span>
						Products System
					</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="productsystem">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("productsystem/product_services")}}">Product & Services</a>
						</li>
						<li>
							<a href="{{path("productsystem/product_stock")}}">Product Stock</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarpossystem" aria-expanded="false" aria-controls="sidebarpossystem" class="side-nav-link">
					<i class="ri-apps-2-fill fs-22"></i>
					<span>
						POS System
					</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebarpossystem">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("pos_system/warehouse")}}">Warehouse</a>
						</li>
						<li>
							<a href="{{path("pos_system/purchase")}}">Purchase</a>
						</li>
						<li>
							<a href="{{path("pos_system/add_pos")}}">Add POS</a>
						</li>
						<li>
							<a href="{{path("pos_system/pos")}}">POS</a>
						</li>
						<li>
							<a href="{{path("pos_system/print_barcode")}}">Print Barcode</a>
						</li>
						<li>
							<a href="{{path("pos_system/print_setting")}}">Print Settings</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
					<i class="ri-folder-4-fill"></i>
					<span>
						Workflow System
					</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebarTasks">
					<ul class="side-nav-second-level">
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarsales" aria-expanded="false" aria-controls="sidebarsales">
								<span>
									Sales
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarsales">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("workflowsystem/customercreation")}}">Customer Creation</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/enquirycreation")}}">Enquiry Creation</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/salesorder")}}">Sales Order</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/newproductrequest")}}">New Product Request</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/grnlocal")}}">GRN Local</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/deliveryorder")}}">Delivery Order</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/invoicegeneration")}}">Invoice Generation</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/servicerequest")}}">Service Request</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/serviceitemdeliverynote")}}">Service Item Delivery Note
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarprocurement" aria-expanded="false" aria-controls="sidebarprocurement">
								<span>
									Procurement
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarprocurement">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("workflowsystem/suppliercreation")}}">Supplier Creation</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/productmaster")}}">Product Master</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/purchaseorder")}}">Purchase Order</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/qcrequest")}}">QC Request</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarlogistics" aria-expanded="false" aria-controls="sidebarlogistics">
								<span>
									Logistics
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarlogistics">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("workflowsystem/shippingorder")}}">Shipping Order</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/shippingbill")}}">Shipping Bill</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/grn")}}">GRN(Inventory)</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/costingsheet")}}">Costing Sheet</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/deliveryorder")}}">Delivery Order</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebaraccounts" aria-expanded="false" aria-controls="sidebaraccounts">
								<span>
									Accounts
								</span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebaraccounts">
								<ul class="side-nav-third-level">
									<li>
										<a href="{{path("workflowsystem/paymentreceipt")}}">Payment Receipt</a>
									</li>
									<li>
										<a href="{{path("workflowsystem/advancepayment")}}">Advance Payment</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="{{path("workflowsystem/hr")}}">HR</a>
						</li>
						<li>
							<a href="{{path("workflowsystem/operations")}}">Operations</a>
						</li>
						<li>
							<a href="{{path("workflowsystem/IT")}}">IT(Information Technology)</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="side-nav-item">
				<a href="{{path("support", {'id': app.user.id})}}" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
					<i class="ri-bubble-chart-fill"></i>
					<span>
						Support System
					</span>
				</a>
			</li>
			<li class="side-nav-item">
				<a href="{{path("zoom", {id: app.user.id}) }}" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
					<i class="ri-user-settings-line fs-16 me-1"></i>

					<span>
						Zoom System
					</span>
				</a>
			</li>
			<li class="side-nav-item">
				<a href="{{path("message")}}" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
					<i class="ri-chat-voice-fill"></i>
					<span>
						Messenger
					</span>
				</a>
			</li>
			<li class="side-nav-item">
				<a data-bs-toggle="collapse" href="#sidebarsetting" aria-expanded="false" aria-controls="sidebarsetting" class="side-nav-link">
					<i class="ri-settings-3-fill fs-22"></i>
					<span>
						Settings</span>
					<span class="menu-arrow"></span>
				</a>
				<div class="collapse" id="sidebarsetting">
					<ul class="side-nav-second-level">
						<li>
							<a href="{{path("system",  {'id': app.user.id}) }}">System Settings</a>
						</li>
						<li>
							<a href="{{path("setup_subcription_plan")}}">Setup Subscription Plan</a>
						</li>
						<li>
							<a href="{{path("order")}}">Order</a>
						</li>
					</ul>
				</div>
			</li>
			<!--- End Sidemenu -->

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- ========== Left Sidebar End ========== -->
