{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Zoom Meeting
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#zoom" data-bs-whatever="@mdo">
					<a href="#" data-size="lg" data-url="#" data-ajax-popup="true" data-bs-toggle="tooltip" title="" data-title="Create New Webhook" class="btn btn-sm btn-primary" data-bs-original-title="Create">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Manage Zoom meeting', page_title: 'Manage Zoom meeting' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="zoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create New Meeting</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-4 mt-1">
							{{ form_row(form.title, {'attr': {'class': 'form-control m-0', 'placeholder': 'Enter Meeting Title', 'required': 'required'}}) }}
						</div>
						<div class="col-md-4 mt-1">
							{{ form_row(form.project, {'attr': {'class': 'form-control select project_select m-0', 'data-toggle': 'select'}}) }}
						</div>
						<div class="col-md-4 mt-1">
							<div id="hostedBy_div">
								{{ form_row(form.user) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mt-1">
							{{ form_row(form.meetingTime) }}
						</div>
						<div class="col-md-4 mt-1">
							{{ form_row(form.duration, {'attr': {'class': 'form-control m-0', 'placeholder': 'Enter Duration', 'required': 'required'}}) }}
						</div>
						<div class="col-md-4 mt-1">
							{{ form_row(form.meetingURL, {'attr': {'class': 'form-control m-0', 'placeholder': 'Enter meeting url'}}) }}
						</div>
					</div>
					<div class="col-md-12 mb-1">
						{{ form_row(form.status, {'attr': {'class': 'form-control m-0'}}) }}
					</div>

					{# {{ form_row(form.password, {'attr': {'class': 'form-control m-0', 'placeholder': 'Enter Password'}}) }} #}

					{# <div class="form-group col-md-6 mt-3">
																																																																																	{{ form_row(form.meetingURL, {'label': 'Invite Client For Zoom Meeting', 'attr': {'class': 'form-check-input'}}) }}
																																																																																</div> #}

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
						<button class="btn btn-primary rounded-2" type="submit">Create</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Title</th>
								<th>Project</th>
								<th>User</th>
								<th>Meeting Time</th>
								<th>Duration</th>
								<th>Meeting URL</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for zoom in zooms %}
								<tr>
									<td>{{zoom.title}}</td>
									<td>{{zoom.project}}</td>
									<td>{{zoom.user}}</td>
									<td>{{ zoom.meetingTime.format('Y-m-d || H:i:s') }}</td>
									<td>{{zoom.duration}}</td>
									<td>
										<a href={{zoom.meetingURL}} target="_blank">Join</a>
									</td>
									<td>{{zoom.status}}</td>
									<td class="">
										<div class="d-flex justify-content-center align-items-center gap-2">
											<button type="button" class="p-0 m-0 border-0 open-edit-modal">
												<a href="{{ path('zoom_edit', {'id': zoom.id, 'user_id': app.user.id}) }} " data-bs-toggle="tooltip" title="" class="p-1 rounded-3 bg-info text-white border-0" data-bs-original-title="Edit">
													<i class="bi bi-pen"></i>
												</a>
											</button>
											<a href="{{ path('zoom_delete', {'id': zoom.id}) }}" class="p-1 rounded-3 bg-danger text-white border-0">
												<i class="bi bi-trash"></i>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
