{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Leads
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Leads', page_title: 'Leads' }) }}
{% endblock %}

{% block body %}
	{# <div class="row">
		<div class="col-sm-12">
			{% set lead_stages = pipeline.leadStages %}
			{% set json = [] %}
			{% for lead_stage in lead_stages %}
				{% set _ = json.append('task-list-' ~ lead_stage.id) %}
			{% endfor %}
			<div class="row kanban-wrapper horizontal-scroll-cards" data-containers='{{ json|json_encode()|raw }}' data-plugin="dragula">
				{% for lead_stage in lead_stages %}
					{% set leads = lead_stage.lead() %}
					<div class="col">
						<div class="card">
							<div class="card-header">
								<div class="float-end">
									<span class="btn btn-sm btn-primary btn-icon count">
										{{ leads|length }}
									</span>
								</div>
								<h4 class="mb-0">{{ lead_stage.name }}</h4>
							</div>
							<div class="card-body kanban-box" id="task-list-{{ lead_stage.id }}" data-id="{{ lead_stage.id }}">
								{% for lead in leads %}
									<div class="card" data-id="{{ lead.id }}">
										<div class="pt-3 ps-3">
											{% set labels = lead.labels() %}
											{% if labels %}
												{% for label in labels %}
													<div class="badge-xs badge bg-{{ label.color }} p-2 px-3 rounded">{{ label.name }}</div>
												{% endfor %}
											{% endif %}
										</div>
										<div class="card-header border-0 pb-0 position-relative">
											<h5>
												<a href="{% if is_granted('view lead') %}{% if lead.is_active %}{{ path('leads.show', {'id': lead.id}) }}{% else %}#{% endif %}{% else %}#{% endif %}">{{ lead.name }}</a>
											</h5>
											<div class="card-header-right">
												{% if app.user.type != 'client' %}
													<div class="btn-group card-option">
														<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="ti ti-dots-vertical"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-end">
															{% if is_granted('edit lead') %}
																<a href="#!" data-size="md" data-url="{{ path('leads.labels', {'id': lead.id}) }}" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="{{ 'Labels' }}">
																	<i class="ti ti-bookmark"></i>
																	<span>{{ 'Labels' }}</span>
																</a>
																<a href="#!" data-size="lg" data-url="{{ path('leads.edit', {'id': lead.id}) }}" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="{{ 'Edit Lead' }}">
																	<i class="ti ti-pencil"></i>
																	<span>{{ 'Edit' }}</span>
																</a>
															{% endif %}
															{% if is_granted('delete lead') %}
																<form method="POST" action="{{ path('leads.destroy', {'id': lead.id}) }}" id="delete-form-{{ lead.id }}">
																	<a href="#!" class="dropdown-item bs-pass-para">
																		<i class="ti ti-archive"></i>
																		<span>{{ 'Delete' }}</span>
																	</a>
																</form>
															{% endif %}
														</div>
													</div>
												{% endif %}
											</div>
										</div>
										{# rest of the code #}
									{# </div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>  #}

{% endblock %}

{% block javascript %}{% endblock %}
