{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Project Tracker
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Project Tracker', page_title: 'Project Tracker' }) }}
{% endblock %}

{% block body %}
	{# {% if app.user.type == 'company' %}
		<div class="row">
			<div class="col-sm-12">
				<div class="mt-2">
					<div class="card">
						<div class="card-body">
							<form action="{{ path('project_report.index') }}" method="GET" id="project_report_submit">
								<div class="row d-flex align-items-center justify-content-end">
									<div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mr-2 mb-0">
										<div class="btn-box">
											<label for="users" class="form-label">{{ 'Users' }}</label>
											<select class="select form-select" name="all_users" id="all_users">
												<option value="" class="">{{ 'All Users' }}</option>
												{% for user in users %}
													<option value="{{ user.id }}" {% if app.request.get('all_users') is defined and app.request.get('all_users') == user.id %} selected {% endif %}>{{ user.name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
										<div class="btn-box">
											<label for="status" class="form-label">{{ 'Status' }}</label>
											<select name="status" class="form-control select">
												<option value="">{{ 'Select Status' }}</option>
												{% for key, value in status %}
													<option value="{{ key }}" {% if app.request.get('status') is defined and app.request.get('status') == key %} selected {% endif %}>{{ value }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mr-2">
										<div class="btn-box">
											<label for="start_date" class="form-label">{{ 'Start Date' }}</label>
											<input type="date" name="start_date" value="{{ app.request.get('start_date') is defined ? app.request.get('start_date') : '' }}" class="form-control month-btn">
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mr-2">
										<div class="btn-box">
											<label for="end_date" class="form-label">{{ 'End Date' }}</label>
											<input type="date" name="end_date" value="{{ app.request.get('end_date') is defined ? app.request.get('end_date') : '' }}" class="form-control month-btn">
										</div>
									</div>
									<div class="col-auto float-end ms-2 mt-4">
										<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('project_report_submit').submit(); return false;" data-toggle="tooltip" data-original-title="{{ 'Apply' }}">
											<span class="btn-inner--icon">
												<i class="ti ti-search"></i>
											</span>
										</a>
										<a href="{{ path('project_report.index') }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-original-title="{{ 'Reset' }}">
											<span class="btn-inner--icon">
												<i class="ti ti-trash-off text-white-off"></i>
											</span>
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %} #}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Project</th>
								<th>Start Date</th>
								<th>Due Date</th>
								<th>Project Members</th>
								<th>Completion</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{# <tr>
															<td>Cara Stevens</td>
															<td>723 N. Tillamook Street Portland, OR Portland, United States</td>
															<td>New York</td>
															<td>46</td>
															<td>2011/12/06</td>
															<td>2011/12/06</td>
														</tr> #}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
