{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}
	Pricing
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Pages', page_title: 'Pricing' }) }}
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div
			class="col-xxl-10">

			<!-- Pricing Title-->
			<div class="text-center">
				<h3 class="mb-2">
					<b>Blue</b>
				</h3>
				<p class="text-muted">
					We have plans and prices that fit your business perfectly. Make your
					<br>
					business a success with our products.
				</p>
			</div>

			<div
				class="row mt-4 justify-content-center">

				<!--Pricing Column-->
				<article class="pricing-column col-xl-3 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="p-3 text-center">
								<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Small</h3>
								<h2 class="display-6 text-dark fw-normal mb-2">$49</h2>
								<div class="text-muted fs-13">Per Month</div>
							</div>
							<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
								<li>1 - 5 Emplooyees</li>
								<li>HRM</li>
								<li>CRM</li>
								<li>Account System</li>
								<li>Project Management</li>
								<li>Workflow System</li>
							</ul>

							<form action="{{path("small")}}" class="text-center mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded-pill waves-effect waves-light">Checkout</button>
							</form>
						</div>
					</div>
				</article>

				<!--Pricing Column-->
				<article class="pricing-column col-xl-3 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="p-3 text-center">
								<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Medium</h3>
								<h2 class="display-6 text-dark fw-normal mb-2">$99</h2>
								<div class="text-muted fs-13">Per Month</div>
							</div>
							<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
								<li>6 - 25 Employees</li>
								<li>HRM</li>
								<li>CRM</li>
								<li>Account System</li>
								<li>Project Management</li>
								<li>Workflow System</li>
							</ul>

							<form action="https://buy.stripe.com/28oeVvclS6w5fzaeUY" class="text-center mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded-pill waves-effect waves-light">Checkout</button>
							</form>
						</div>
					</div>
				</article>


				<!--Pricing Column-->
				<article class="pricing-column col-xl-3 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="p-3 text-center">
								<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Enterprice</h3>
								<h2 class="display-6 text-dark fw-normal mb-2">$199</h2>
								<div class="text-muted fs-13">Per Month</div>
							</div>
							<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
								<li>26 - 50 Employees</li>
								<li>HRM</li>
								<li>CRM</li>
								<li>Account System</li>
								<li>Project Management</li>
								<li>Workflow System</li>
							</ul>

							<form action="https://buy.stripe.com/28oaFfeu08Ed2MoaEJ" class="text-center mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded-pill waves-effect waves-light">Checkout</button>
							</form>
						</div>
					</div>
				</article>

				<!--Pricing Column-->
				<article class="pricing-column col-xl-3 col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="p-3 text-center">
								<h3 class="text-primary text-uppercase fw-normal fs-16 mb-3">Ultra</h3>
								<h2 class="display-6 text-dark fw-normal mb-2">$299</h2>
								<div class="text-muted fs-13">Per Month</div>
							</div>
							<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
								<li>Unlimited employees</li>
								<li>HRM</li>
								<li>CRM</li>
								<li>Account System</li>
								<li>Project Management</li>
								<li>Workflow System</li>
							</ul>

							<form action="https://buy.stripe.com/4gw9BbadKdYx0EgcMS" class="text-center mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded-pill waves-effect waves-light">Checkout</button>
							</form>
						</div>
					</div>
				</article>

			</div>
			<!-- end row -->

		</div>
		<!-- end col-->
	</div>
	<div class="row justify-content-center mt-3">
		<div
			class="col-xxl-10">

			<!-- Pricing Title-->
			<div class="text-center">
				<h3 class="mb-2">
					<b>Red</b>
				</h3>
				<p class="text-muted">
					We have plans and prices that fit your business perfectly. Make your
					<br>
					business a success with our products.
				</p>
			</div>
			<div class="container mt-4">
				<div
					class="row justify-content-center align-items-center">
					<!-- Pricing Column 1 -->
					<div class="col-xl-3 col-md-6">
						<article class="pricing-column">
							<div class="card">
								<div class="card-body">
									<div class="p-3 text-center">
										<h2 class="display-8 text-dark fw-normal">
											Per Month</h2>
									</div>
									<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
										<li>1 - 5 Employees</li>
										<li>HRM</li>
										<li>CRM</li>
										<li>Account System</li>
										<li>Project Management</li>
										<li>Workflow System</li>
									</ul>
								</div>
							</div>
						</article>
					</div>

					<!-- Pricing Column 2 (Centered) -->
					<div class="col-xl-3 col-md-6 text-center">
						<div>
							<form action="{{path("red_card")}}" class="mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded waves-effect waves-light" style="font-size: 23px;">Checkout</button>
							</form>
							<form action="{{path("red_contact")}}" class="mb-3">
								<button type="submit" class="btn btn-warning btn-bordered-success rounded waves-effect waves-light" style="font-size: 23px;">Contact Us</button>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- end row -->

		</div>
		<!-- end col-->
	</div>
	<div class="row justify-content-center mt-3">
		<div
			class="col-xxl-10">

			<!-- Pricing Title-->
			<div class="text-center">
				<h3 class="mb-2">
					<b>Purple</b>
				</h3>
				<p class="text-muted">
					We have plans and prices that fit your business perfectly. Make your
					<br>
					business a success with our products.
				</p>
			</div>
			<div class="container mt-4">
				<div
					class="row justify-content-center align-items-center">
					<!-- Pricing Column 1 -->
					<div class="col-xl-3 col-md-6">
						<article class="pricing-column">
							<div class="card">
								<div class="card-body">
									<div class="p-3 text-center">
										<h2 class="display-8 text-dark fw-normal">
											Per Month</h2>
									</div>
									<ul class="d-flex flex-column gap-3 list-unstyled text-center p-3 mb-3">
										<li>1 - 5 Employees</li>
										<li>HRM</li>
										<li>CRM</li>
										<li>Account System</li>
										<li>Project Management</li>
										<li>Workflow System</li>
									</ul>
								</div>
							</div>
						</article>
					</div>

					<!-- Pricing Column 2 (Centered) -->
					<div class="col-xl-3 col-md-6 text-center">
						<div>
							<form action="{{path("purple_card")}}" class="mb-3">
								<button type="submit" class="btn btn-success btn-bordered-success rounded waves-effect waves-light" style="font-size: 23px;">Checkout</button>
							</form>
							<form action="{{path("purple_contact")}}" class="mb-3">
								<button type="submit" class="btn btn-warning btn-bordered-success rounded waves-effect waves-light" style="font-size: 23px;">Contact Us</button>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- end row -->

		</div>
		<!-- end col-->
	</div>
	<!-- end row -->
{% endblock %}
