{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Purchase & services
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'purchase', page_title: 'Purchase' }) }}
{% endblock %}

{% block body %}
	<div class="row">
        <div class="col-sm-12">
            <div class="category" id="multiCollapseExample1">
                <div class="card">
                    <div class="card-body">
                        {# {{ Form::open(['route' => ['productservice.index'], 'method' => 'GET', 'id' => 'product_service']) }} #}
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="btn-box">
                                    {# {{ Form::label('category', __('Category'),['class'=>'form-label']) }} #}
                                    {# {{ Form::select('category', $category, null, ['class' => 'form-control select','id'=>'choices-multiple', 'required' => 'required']) }} #}
                                </div>
                            </div>
                            <div class="col-auto float-end ms-2 mt-4">
                                <a href="#" class="btn btn-sm btn-primary"
                                   onclick="document.getElementById('product_service').submit(); return false;"
                                   data-bs-toggle="tooltip" title="apply">
                                    <span class="btn-inner--icon"><i class="ti ti-search"></i></span>
                                </a>
                                <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="tooltip"
                                   title="Reset">
                                    <span class="btn-inner--icon"><i class="ti ti-trash-off "></i></span>
                                </a>
                            </div>

                        </div>
                        {# {{ Form::close() }} #}
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Purchase</th>
								<th>SKU</th>
								<th>Sales Price</th>
								<th>Purchase Price</th>
								<th>Tax</th>
								<th>Category</th>
								<th>Unit</th>
								<th>Quantity</th>
								<th>Type</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PC</td>
								<td>00BG102</td>
								<td>$50,000.00</td>
								<td>Vat(5%)</td>
								<td>Skin</td>
								<td>Kilo</td>
								<td>100</td>
								<td>Product</td>
								<td>Kilo</td>
							</tr>
							<tr>
								<td>PC</td>
								<td>00BG102</td>
								<td>$50,000.00</td>
								<td>Vat(5%)</td>
								<td>Skin</td>
								<td>Kilo</td>
								<td>100</td>
								<td>Product</td>
								<td>Kilo</td>
							</tr>
							<tr>
								<td>PC</td>
								<td>00BG102</td>
								<td>$50,000.00</td>
								<td>Vat(5%)</td>
								<td>Skin</td>
								<td>Kilo</td>
								<td>100</td>
								<td>Product</td>
								<td>Kilo</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js">
	</script>
{% endblock %}
