{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Holidays
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" class="btn btn-sm btn-primary" onclick="saveAsPDF()" data-bs-toggle="tooltip" title="" data-original-title="Download" data-bs-original-title="Calendar View">
					<span class="btn-inner--icon">
						<i class="bi bi-calendar-check"></i>
					</span>
				</a>
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#holidays" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Holidays', page_title: 'Holidays' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3 special" id="holidays" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Holiday</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(form) }}
					<div class="row">
						<div class="form-group col-md-12">
							{{ form_row(form.occasion) }}
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							{{ form_row(form.startDate) }}
						</div>
						<div class="form-group col-md-6">
							{{ form_row(form.endDate) }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary rounded-2">Create</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class=" mt-2 " id="multiCollapseExample1">
				<div class="card">
					<div class="card-body">
						<form method="GET" action="http://localhost/other/holiday-calender" accept-charset="UTF-8" id="holiday_filter">
							<div class="row align-items-center justify-content-end">
								<div class="col-xl-10">
									<div class="row">
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box"></div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box"></div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="start_date" class="form-label">Start Date</label>
												<input class="month-btn form-control" name="start_date" type="date" value="" id="start_date">
											</div>
										</div>
										<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
											<div class="btn-box">
												<label for="end_date" class="form-label">End Date</label>
												<input class="month-btn form-control " name="end_date" type="date" value="" id="end_date">
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto">
									<div class="row">
										<div class="col-auto mt-4">
											<a href="#" class="btn btn-sm btn-primary" onclick="document.getElementById('holiday_filter').submit(); return false;" data-bs-toggle="tooltip" title="" data-original-title="apply" data-bs-original-title="Apply">
												<span class="btn-inner--icon">
													<i class="bi bi-search"></i>
												</span>
											</a>
											<a href="http://localhost/other/holiday-calender" class="btn btn-sm btn-danger " data-bs-toggle="tooltip" title="" data-original-title="Reset" data-bs-original-title="Reset">
												<span class="btn-inner--icon">
													<i class="bi bi-trash"></i>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th>Occasion</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for holidays in holidayss %}
								<tr>
									<td>{{holidays.occasion}}</td>
									<td>{{ holidays.startDate|date('Y-m-d') }}</td>
									<td>{{ holidays.endDate|date('Y-m-d') }}</td>
									<td class="">
										<div class="d-flex justify-content-center align-items-center gap-2">
											<button type="button" class="p-0 m-0 border-0 open-edit-modal">
												<a href="{{ path('holidays_edit', {'id': holidays.id}) }}" data-bs-toggle="tooltip" title="" class="p-1 rounded-3 bg-info text-white border-0" data-bs-original-title="Edit">
													<i class="bi bi-pen"></i>
												</a>
											</button>
											<a href="{{ path('holidays_delete', {'id': holidays.id}) }}" class="p-1 rounded-3 bg-danger text-white border-0">
												<i class="bi bi-trash"></i>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
				<!-- end card body-->
			</div>
			<!-- end card -->
		</div>
		<!-- end col-->
	</div>
	<!-- end row-->
{% endblock %}

{% block javascript %}
	{# edit #}
	<script src="/js/pages/edit.modal.js"></script>
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
{% endblock %}
