{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Employee Setup
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	{# <link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/> #}
<link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/> {% endblock %}
{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3"></div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Create Employee', page_title: 'Create Employee' }) }}
		</div>
	</div>
{% endblock %}

{% block body %}
	{# Daniel write here #}
	{{form_start(form)}}
	<div class="row">
		<div class="col-md-6">
			<div class="card em-card">
				<div class="card-header">
					<h5 class="text-dark">Personal Detail</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="form-group col-md-6">
							{{form_row(form.name)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.phone)}}
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{form_row(form.dateOfBirth)}}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group flex">
								{{form_row(form.gender)}}
							</div>
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.email)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.password)}}
						</div>
					</div>
					<div class="form-group">
						{{form_row(form.address)}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 max-height-500px">
			<div class="card em-card">
				<div class="card-header">
					<h5 class="text-dark">Company Detail</h5>
				</div>
				<div class="card-body employee-detail-create-body">
					<div class="row">
						<input type="hidden" name="_token" value="fQVCzmvnml8O5nNtzcHmFVKaIwqpSDyEUTBShBfJ" autocomplete="off">
						<div class="form-group">
							{{form_row(form.branch)}}
						</div>

						<div class="form-group">
							{{form_row(form.department)}}
						</div>

						<div class="form-group">
							{{form_row(form.designation)}}
						</div>
						<div class="form-group">
							{{form_row(form.companyDateOfJoining)}}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 ">
			<div class="card em-card">
				<div class="card-header">
					<h5 class="text-dark">Document</h5>
				</div>
				<div class="card-body employee-detail-create-body">
					<div class="row">
						<div class="form-group col-12 d-flex">
							{{form_row(form.certificate)}}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="form-group col-12 d-flex">
							{{form_row(form.photo)}}

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 ">
			<div class="card em-card">
				<div class="card-header">
					<h5 class="text-dark">Bank Account Detail</h5>
				</div>
				<div class="card-body employee-detail-create-body">
					<div class="row">
						<div class="form-group col-md-6">
							{{form_row(form.accountName)}}

						</div>
						<div class="form-group col-md-6">
							{{form_row(form.accountNumber)}}

						</div>
						<div class="form-group col-md-6">
							{{form_row(form.bankName)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.bankIdentifierCode)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.branchLocation)}}
						</div>
						<div class="form-group col-md-6">
							{{form_row(form.taxPayerId)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="modal-footer">
		<button type="submit" id="createButton" class="btn btn-primary rounded-2 button">Create</button>
		<button type="button" id="saveButton" class="btn btn-primary rounded-2" style="display: none;">Save</button>
	</div>
	{{form_end(form)}}
{% endblock %}
{% block javascript %}
	<!-- Datatables js -->
	<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

	<!-- Datatable Demo Aapp js -->
	<script src="/js/pages/demo.datatable-init.js"></script>
	<!-- Table Export js -->
	s
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
	<script src="/js/pages/demo.tableexport.js"></script>
{% endblock %}
