{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Manage User
{% endblock %}

{% block css %}
	<!-- Select2 css -->
	<link
	href="/vendor/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>

	<!-- Daterangepicker css -->
	<link
	href="/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>

	<!-- Bootstrap Touchspin css -->
	<link
	href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css"/>

	<!-- Flatpickr Timepicker css -->
	<link href="/vendor/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css"/>
	<link href="/css/app.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	<div class"row align-items-center d-flex">
		<div class="col mt-2">
			<div class="float-end mt-3">
				<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
					<i class="ri ri-user-follow-line"></i>
				</a>
				<button type="button" class="p-0 m-0 border-0" data-bs-toggle="modal" data-bs-target="#user" data-bs-whatever="@mdo">
					<a href="#" data-bs-toggle="tooltip" title="" class="btn btn-sm btn-primary" data-bs-original-title="Import">
						<i class="bi bi-plus"></i>
					</a>
				</button>
			</div>
		</div>
		<div class="col auto">
			{{ include('partials/page-title.html.twig', { sub_title: 'Manage User', page_title: 'Manage User' }) }}
		</div>
	</div>
	<div class="modal fade rounded-3" id="user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						{{ form_start(form) }}
						<div class="row">
							<div class="col-md-6">
								<div class="form-group mb-1">
									{{ form_row(form.fullName) }}
								</div>
							</div>
							<div class="col-md-6 mb-1">
								<div class="form-group">
									{{ form_row(form.email) }}
								</div>
							</div>
							<div class="form-group col-12">
								<label for="role" class="form-label">User Role</label>
								<select class="form-control select2" data-toggle="select2">
									<option value="AK">Accountant</option>
									<option value="AK">Accountant Manager</option>
									<option value="AK">Admin</option>
									<option value="AK">Factory Worker</option>
									<option value="HI">Secretary</option>
								</select>
							</div>
							<div class="col-md-6 mt-2">
								{{ form_row(form.password.first) }}
							</div>
							<div class="col-md-6 mt-2">
								{{ form_row(form.password.second) }}
							</div>
						</div>
						<div class="modal-footer mt-2">
							<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary rounded-2">Create</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade rounded-3" id="resetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title">Reset Password</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						{{ form_start(resetPasswordForm) }}
						<div class="row">
							<div class="col-md-12 mt-1">
								{{ form_row(resetPasswordForm.password.first) }}
							</div>
							<div class="col-md-12 mt-2 mb-2">
								{{ form_row(resetPasswordForm.password.second) }}
							</div>
						</div>
						<div class="modal-footer mt-2">
							<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary rounded-2">Create</button>
						</div>
						{{ form_end(resetPasswordForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade rounded-3" id="resetPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog rounded-3">
			<div class="modal-content rounded-3">
				<div class="modal-header">
					<h5 class="modal-title">Edit User</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-body">
						{{ form_start(resetPasswordForm) }}
						<div class="row">
							<div class="col-md-12 mt-1">
								{{ form_row(resetPasswordForm.password.first) }}
							</div>
							<div class="col-md-12 mt-2 mb-2">
								{{ form_row(resetPasswordForm.password.second) }}
							</div>
						</div>
						<div class="modal-footer mt-2">
							<button type="button" class="btn btn-secondary rounded-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary rounded-2">Create</button>
						</div>
						{{ form_end(resetPasswordForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="row">
		{% for linkedUser in app.user.LinkedUsers %}
			<div class="col-md-3 mb-4">
				<div class="card text-center card-2">
					<div class="card-header border-0 pb-0">
						<div class="d-flex justify-content-between align-items-center">
							<h6
								class="mb-0">{# <div class="badge bg-primary p-2 px-3 rounded-3">
																																																						Admin
																																																					</div> #}
							</h6>
							<div class="card-header-right float-end">
								<div class="btn-group card-option">
									<button
										type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{# <i class="bi bi-plus-circle-dotted"></i> #}
									</button>
									<div class="dropdown-menu dropdown-menu-end">
										<button class="buttonLink" type="button" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">
											<a href="#!" data-size="lg" data-url="#" data-ajax-popup="true" class="dropdown-item" data-bs-original-title="Edit User">
												<i class="bi bi-pencil"></i>
												<span>Edit</span>
											</a>
										</button>
										<button class="buttonLink" type="button" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">
											<a href="{{path("delete/user", {'child_id': linkedUser.id, 'id': app.user.id})}}" class="dropdown-item bs-pass-para">
												<i class="bi bi-archive"></i>
												<span>
													Delete
												</span>
											</a>
										</button>
										<button class="buttonLink" type="button" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">
											<a href="#!" id="resetPasswordLink" data-url="#" data-ajax-popup="true" data-size="md" class="dropdown-item" data-bs-original-title="Reset Password">
												<i class="bi bi-lock"></i>
												<span>
													Reset Password</span>
											</a>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body full-card">
						<label for="fileInput">
							<img id="profileImage" src="/images/users/avatar-1.jpg" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image"/>
						</label>
						<input type="file" id="fileInput" style="display: none;" disabled>
						<h4 class=" mt-3 text-primary">{{linkedUser}}</h4>
						<small class="text-primary">{{linkedUser.email}}</small>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block javascript %}
	<!--  Select2 Plugin Js -->
	<script src="/vendor/select2/js/select2.min.js"></script>
	<!-- Daterangepicker Plugin js -->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!-- Input Mask Plugin js -->
	<script src="/vendor/jquery-mask-plugin/jquery.mask.min.js"></script>
	<!-- Bootstrap Touchspin Plugin js -->
	<script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
	<!-- Bootstrap Maxlength Plugin js -->
	<script src="/vendor/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<!-- Typehead Plugin js -->
	<script src="/vendor/handlebars/handlebars.min.js"></script>
	<script src="/vendor/typeahead.js/typeahead.bundle.min.js"></script>
	<!-- Flatpickr Timepicker Plugin js -->
	<script src="/vendor/flatpickr/flatpickr.min.js"></script>
	<!-- Typehead Demo js -->
	<script src="/js/pages/demo.typehead.js"></script>
	<!-- Timepicker Demo js -->
	<script src="/js/pages/demo.flatpickr.js"></script>
	{# user functionality #}
	<script src="/js/pages/modal.js"></script>
{% endblock %}
