{% extends 'partials/layout-vertical.html.twig' %}

{% block title %}Add POS
{% endblock %}

{% block css %}
	<!-- Datatables css -->
	<link href="/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
	<link href="/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pagetitle %}
	{{ include('partials/page-title.html.twig', { sub_title: 'Add POS', page_title: 'Add POS' }) }}
{% endblock %}

{% block body %}

	<div class="container-fluid px-2">
		{# <?php $lastsegment = request()->segment(count(request()->segments())) ?> #}
		<div class="row">
			<div class="col-12">
				<div class="mt-2 pos-top-bar bg-color d-flex justify-content-between bg-primary">
					<span class="text-white">POS</span>
					<a href="{{ path('account-dashboard') }}" class="text-white">
						<i class="ti ti-home" style="font-size: 20px;"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="mt-2 row">
			<div class="col-lg-7">
				<div class="sop-card card">
					<div class="card-header p-2">
						<div class="search-bar-left">
							<form>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="ti ti-search"></i>
										</span>
									</div>
									<input id="searchproduct" type="text" data-url="#" placeholder="" class="form-control pr-4 rounded-right">
								</div>
							</form>
						</div>
					</div>
					<div class="card-body p-2">
						<div class="right-content">
							<div class="button-list b-bottom catgory-pad">
								<div class="form-row m-0" id="categories-listing"></div>
							</div>
							<div class="product-body-nop">
								<div class="form-row" id="product-listing"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-0">
				<div class="card m-0">
					<div class="card-header p-2">
						<div class="row">
							<div class="col-md-6">
								{# {{ Form::select('customer_id', $customers,'', array('class' => 'form-control select customer_select','id'=>'customer','required'=>'required')) }} #}
								{# {{ Form::hidden('vc_name_hidden', '',['id' => 'vc_name_hidden']) }} #}

							</div>
							<div class="col-md-6">
								{# {{ Form::select('warehouse_id', $warehouses,'', array('class' => 'form-control select warehouse_select ','id'=>'warehouse','required'=>'required')) }} #}
								{# {{ Form::hidden('warehouse_name_hidden', '',['id' => 'warehouse_name_hidden']) }} #}
							</div>
						</div>
					</div>
					<div class="card-body carttable cart-product-list carttable-scroll" id="carthtml">
						{# @php $total = 0 @endphp #}
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th class="text-left">Name</th>
										<th class="text-center">QTY</th>
										<th>Tax</th>
										<th class="text-center">Price</th>
										<th class="text-center">Sub Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="tbody">
									{# @if(session($lastsegment) && !empty(session($lastsegment)) && count(session($lastsegment)) > 0)
									                                        @foreach(session($lastsegment) as $id => $details)
									                                            @php
									                                                $product = \App\Models\ProductService::find($details['id']);
									                                                $image_url = (  !empty($product) && isset($product->pro_image) ) ? $product->pro_image : 'uploads/pro_image/';
									                                                $total += $details['subtotal'];
									                                            @endphp #}
									<tr data-product-id="#" id="#">
										<td class="cart-images">
											<img alt="Image placeholder" src="#" class="card-image avatar rounded-circle-sale shadow hover-shadow-lg">
										</td>
										<td class="name">details</td>
										<td>
											<span class="quantity buttons_added">
												<input type="button" value="-" class="minus">
												<input type="number" step="1" min="1" max="" name="quantity" title="Quantity" class="input-number" data-url="update-cart" data-id="id" size="4" value="details">
												<input type="button" value="+" class="plus">
											</span>
										</td>
										<td>
											{# @if(!empty($product->tax_id))
											                                                        @php
											                                                            $taxes=\Utility::tax($product->tax_id);
											                                                        @endphp
											                                                        @foreach($taxes as $tax) #}
											<span class="badge bg-primary">tax->name</span>
											<br>
											{# @endforeach
											                                                    @else
											                                                        -
											                                                    @endif #}
										</td>
										<td class="price text-right">details</td>
										<td class="col-sm-3 mt-2">
											<span class="subtotal">details</span>
										</td>
										{# <td class="col-sm-2 mt-2">
											<a href="#" class="action-btn bg-danger bs-pass-para-pos" data-confirm="#" data-text="" data-confirm-yes="delete-form-{{ $id }}" title="{{ __('Delete') }}" data-id="{{ $id }}">
												<i class="ti ti-trash text-white mx-3 btn btn-sm" title="{{ __('Delete') }}"></i>
											</a>
											{!! Form::open(['method' => 'delete', 'url' => ['remove-from-cart'],'id' => 'delete-form-'.$id]) !!}
											<input type="hidden" name="session_key" value="lastsegment">
											<input type="hidden" name="id" value="id">
											{!! Form::close() !!}
										</td> #}
									</tr>
									@endforeach
									                                    @else
									<tr class="text-center no-found">
										<td colspan="7">No Data Found</td>
									</tr>
									@endif
								</tbody>
							</table>
						</div>
						<div class="total-section mt-3">
							<div class="sub-total">
								<div class="d-flex text-end justify-content-end">
									<h6 class="mb-0 text-dark">Sub Total
										:</h6>
									<h6 class="mb-0 text-dark subtotal_price" id="displaytotal">total</h6>
								</div>
								<div class="row align-items-center">
									<div class="col-6">
										<div class="d-flex text-end justify-content-end align-items-center">
											<span class="input-group-text bg-transparent">currencySymbol</span>
											{# {{ Form::number('discount',null, array('class' => ' form-control discount','required'=>'required','placeholder'=>__('Discount'))) }} #}
											{# {{ Form::hidden('discount_hidden', '',['id' => 'discount_hidden']) }} #}
										</div>
									</div>
									<div class="col-6">
										<div class="d-flex align-items-center justify-content-end">
											<h6 class="">Total
												</h6>
											<h6 class="totalamount">priceFormat</h6>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between pt-3" id="btn-pur">
									<button type="button" class="btn btn-primary rounded" data-ajax-popup="true" data-size="xl" data-align="centered" data-url="#" data-title="#" @if(session($lastsegment) && !empty(session($lastsegment)) && count(session($lastsegment)) > 0) @else disabled="disabled" @endif>
										PAY
									</button>
									<div class="tab-content btn-empty text-end">
										<a href="#" class="btn btn-danger bs-pass-para-pos rounded m-0" data-toggle="tooltip" data-original-title="#" data-confirm="#" data-text="" data-confirm-yes="delete-form-emptycart">#
										</a>
										{# {!! Form::open(['method' => 'post', 'url' => ['empty-cart'],'id' => 'delete-form-emptycart']) !!} #}
										<input type="hidden" name="session_key" value="lastsegment" id="empty_cart">
										{# {!! Form::close() !!} #}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="commonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="body"></div>
		</div>
	</div>
</div>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 99999">
	<div id="liveToast" class="toast text-white  fade" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body"></div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>
<!-- end row-->{% endblock %}{% block javascript %}
<!-- Datatables js -->
<script src="/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

<!-- Datatable Demo Aapp js -->
<script src="/js/pages/demo.datatable-init.js"></script>{% endblock %}
